/**
 * @file
 * Visual styles for buttons.
 */

.button,
.image-button {
  margin-right: 1em;
  margin-left: 1em;
}
.button:first-child,
.image-button:first-child {
  margin-right: 0;
  margin-left: 0;
}

a.button:link,
a.button:visited,
.form-submit {
  font-weight: 300;
  display: inline-block;
  background: #f9b300;
  color: #333;
  margin-left: 0 !important;
  padding: 0.5rem 0.75rem;
  text-decoration: none;
  border-radius: 4px;
  font-size: 1.2rem;
  transition-property: background;
  transition-duration: 0.25s;
  border: none;
  cursor: pointer;
  cursor: hand;
}

.button:hover,
.form-submit:hover {
  background: #ffce50;
}

a.button.small,
.form-submit.small {
  font-size: 0.9rem;
  padding: 0.3333rem 0.5rem;
}

a.button.gray,
.form-submit.gray {
  background: #eee;
  color: #333;
}

.button.gray:hover,
.form-submit.gray:hover {
  background: #f3f3f3;
}
