/**
 * @file
 * Overall site layout.
 */

.constrained {
  max-width: 1250px;
  margin-left: auto;
  margin-right: auto;
  width: 90%;
}

.layout-content {
  padding-bottom: 3rem;
}

@media all and (min-width: 800px) {
  .constrained {
    width: 93%;
  }
}

@media all and (min-width: 1200px) {
  .constrained {
    width: 96%;
  }
}
